<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beike.hcc.blog.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.beike.hcc.blog.model.User">
        <id column="article_id" javaType="INTEGER" property="articleId"/>
        <result column="title" javaType="VARCHAR" property="title"/>
        <result column="update_time" javaType="TIMESTAMP" property="updateTime"/>
        <result column="user_id" javaType="INTEGER" property="userId"/>
        <result column="register_time" javaType="TIMESTAMP" property="registerTime"/>
    </resultMap>
    <select id="selectArticleByUserId" parameterType="java.lang.Integer" resultType="com.beike.hcc.blog.model.Article">
        select * from t_hcc_article where user_id=#{userId}
    </select>
    <select id="selectArticleById" parameterType="java.lang.Integer" resultType="com.beike.hcc.blog.model.Article">
        select * from t_hcc_article where article_id=#{articelId}
    </select>
    <update id="updateArticleById" parameterType="com.beike.hcc.blog.model.Article">
        update t_hcc_article
        set user_id=#{userId,jdbcType=INTEGER}
            title=#{title,jdbcType=VARCHAR}
            update_time=#{updateTime,jdbeType=TIMESTAMP}
        where article_id=#{articleId,jdbcType=INTEGER}
    </update>
    <delete id="deleteArticleById" parameterType="java.lang.Integer">
        delete from t_hcc_article where srticle_id=#{articleId} and
    </delete>
    <delete id="deleteArticleByUserId" parameterType="java.lang.Integer">
        delete from t_hcc_article where user_id=#{userId}
    </delete>
    <insert id="insertArticle" parameterType="com.beike.hcc.blog.model.Article">
        insert into t_hcc_article (article_id,title,post_time,update_time,user_id)
        VALUES (#{articleId,jdbcType=INTEGER},#{title,jdbdType=VARCHAR},#{postTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP},#{userId,jdbcType=INTEGER})
    </insert>

</mapper>